@import url(../reset.css);

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  background-color: #fff;
  padding: 20px 26px;
  height: 64px;
}
#dkt_logo {
  width: 121px;
  height: 24px;
  &:hover {
    cursor: pointer;
  }
}
.section_inner {
  display: flex;
}
.nav_items {
  width: 240px;
  height: 1791px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.list li > a {
  display: block;
  background-image: url(../image/css_sprites.png);
}

.list .category {
  width: 101px;
  height: 21px;
  background-position: -10px -10px;
  margin: 46px 20px 26px;
}

.list .blog {
  width: 96px;
  height: 17px;
  background-position: -10px -51px;
  margin-left: 22px;
  margin-right: 134px;
  margin-bottom: 12px;
}

.list .story {
  width: 67px;
  height: 15px;
  background-position: -131px -80px;
  margin-left: 36px;
  margin-right: 134px;
}

.list .tag {
  margin-top: 64px;
  margin-left: 20px;
  width: 31px;
  height: 17px;
  background-position: -10px -158px;
  margin-bottom: 20px;
}

.list .item_no1 {
  width: 85px;
  height: 15px;
  background-position: -131px -10px;
  margin-bottom: 12px;
  margin-left: 36px;
}
.list .item_no2 {
  width: 59px;
  height: 15px;
  background-position: -10px -123px;
  margin-bottom: 12px;
  margin-left: 36px;
}
.list .item_no3 {
  width: 100px;
  height: 15px;
  background-position: -10px -88px;
  margin-bottom: 12px;
  margin-left: 36px;
}
.list .item_no4 {
  width: 72px;
  height: 15px;
  background-position: -131px -45px;
  margin-bottom: 12px;
  margin-left: 36px;
}

main {
  padding: 0 58px 0 36px;
  width: 100%;
}

#category_img {
  margin-top: 44px;
  margin-bottom: 16px;
}
.content_article {
  width: 944px;
  border: 1px solid #a6a8ab;
}
.list_tab {
  display: flex;
  justify-content: center;
}

.list_tab li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_tab li:first-child {
  border-right: 1px solid black;
}
.list_blog li {
  padding: 40px 30px;
  background-color: #fff;
}
.list_blog li:first-child {
  margin-top: 0;
}
a {
  display: flex;
}

.description_wrap {
  padding: 26px 0 16px 36px;
}

strong {
  font-weight: bold;
  font-size: 20px;
  font-family: "Apple Sd Gothic Neo";
  display: block;
  margin-bottom: 6px;
}

.blog {
  color: #ccc;
  margin-bottom: 54px;
}

footer {
  height: 50px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 13px;
  line-height: 21px;
  color: #777777;
  font-family: "Noto Sans CJ Kkr";
}
