@import url(../reset.css);

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #fff;
  padding: 20px 26px;
  height: 64px;
}
#dkt_logo {
  width: 121px;
  height: 24px;
  &:hover {
    cursor: pointer;
  }
}
.nav_items {
  width: 240px;
  height: 1791px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

/* .list dt > a,
.list dd > a {
  display: block;
  background-image: ;
} */

.category::after {
  width: 101px;
  height: 21px;
  background-position: -10px -10px;
  margin: 46px 20px 26px;
  background-image: url(../image/css_sprites.png);
}

.blog::after {
  width: 96px;
  height: 17px;
  background-position: -10px -51px;
  margin-left: 22px;
  margin-right: 134px;
  margin-bottom: 12px;
  background-image: url(../image/css_sprites.png);
}

.story::after {
  width: 67px;
  height: 15px;
  background-position: -10px -88px;
  margin-left: 36px;
  margin-right: 134px;
  background-image: url(../image/css_sprites.png);
}

.tag::after {
  margin-top: 64px;
  margin-left: 20px;
  width: 31px;
  height: 17px;
  background-position: -130px -45px;
  background-image: url(../image/css_sprites_tag.png);
}

footer {
  height: 50px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 13px;
  line-height: 21px;
  color: #777777;
  font-family: "Noto Sans CJ Kkr";
}
